@font-face {
    font-family: 'Lobster-Regular';
    src: url(/fonts/Lobster-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url(/fonts/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url(/fonts/Comfortaa-VariableFont_wght.ttf) format('truetype');
}

input::placeholder {
    color: #fff;
}
body {
    background-image: url(/img/loginRegistation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(1,65,100,.5);
    width: 300px;
    height: 630px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

    .form h2 {
        margin: 30px,100px;
        padding: 0;
        text-align: center;
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        font-family: Pacifico-Regular;
    }

input[type="text"] {
    padding: 10px;
    width: 90%;
    color: #fff;
    margin-top: 30px;
    margin-left: 14px;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    box-sizing: border-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input[type="password"] {
    padding: 10px;
    width: 90%;
    color: #fff;
    margin-top: 30px;
    margin-left: 14px;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    box-sizing: border-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input[type="submit"] {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 10px 100px;
    background-color: transparent;
    font-family: Pacifico-Regular;
}

a[type="text"] {
    color: #fff;
    margin: 10px 130px;
}

a[type="text"]:hover {
color: #000;
margin: 10px 130px;
}

input[type="submit"]:hover {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 10px 100px;
    background-color: #fff;
}

